<%= form_for(competition) do |f| %>
  <% if competition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(competition.errors.count, "error") %> prohibited this competition from being saved:</h2>

      <ul>
      <% competition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.hidden_field :user_id, value: current_user, class: "field" %>
      <%= f.label :Competition_name %>
      <%= f.text_field :name %><br>
      <%= f.label :challenges %>
      <%= f.select :challenge_id, @challenges.map{|y|["#{y.game}",y.id]} %><br>
      <%= f.label :goal %>
      <%= f.number_field :goal %><br>
      <%= f.label :number_of_competitors %>
      <%= f.number_field :competitor %><input class="save" type="button" value="Save" /><br>
      <% unless edit %>
      <div class='participantSlots'>
      <%= (2..(@competition.competitor||1)).each do |x| %>
      <%= label_tag :'participants' %>
      <%= text_field_tag :'participants[]' %>
      </div>
      <% end %>
      <% end %>
      <% if edit %>
      <div class='participantSlotss'>
      <%= ((@competition.competitor - competition.participants.count)).times do |x| %>
      <%= label_tag :'participants' %>
      <%= text_field_tag :'participants[]' %>
      </div>
      <% end %>
      <% end %>
    </div><br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<div id="template">
      <%= label_tag :'participants' %>
      <%= text_field_tag :'participants[]' %>
</div>

<script>
document.addEventListener("DOMContentLoaded",function(){   
    var participants = <%= competition.participants.count %>; 
    var btn = document.querySelector('.save');
      btn.addEventListener('click', function(event){
        event.preventDefault();
        var iterations = document.querySelector('#competition_competitor').value - participants - document.querySelectorAll('#participants_').length;
      for(var i=0; i<iterations ; i++) {
        document.querySelector('.participantSlots').innerHTML += document.querySelector('#template').innerHTML;
      }
    })
});
document.addEventListener("DOMContentLoaded",function(){   
    var participants = <%= competition.participants.count %>; 
    var btn = document.querySelector('.save');
      btn.addEventListener('click', function(event){
        event.preventDefault();
        var iterations = document.querySelector('#competition_competitor').value - participants - document.querySelectorAll('#participants_' + 1).length;
      for(var i=0; i<iterations ; i++) {
        document.querySelector('.participantSlotss').innerHTML += document.querySelector('#template').innerHTML;
      }
    })
});
</script>
