<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
<h1>Push-Ups</h1>
<table class="pushTable">
	<tr class="pushTr">
		<th class="pushTh">Names</th>
		<% @competition.participants.each do |participant| %>
		<th class="pushTh"><%= participant.username %></th>
		<% end %>
	</tr>
	<tr class="pushTr">
		<th class="pushTh">Goal</th>
		<% (1..@competition.competitor).each do |competition| %>
		<th class="pushTh" id="pushGoalcolor"><%= @competition.goal %></th>
		<% end %>
	</tr>
	<tr class="pushTr">
		<th class="pushTh">Day 1</th>
		<td name="A" class="pushTd">265</td>
		<td name="S" class="pushTd">25</td>
		<td name="R" class="pushTd">222</td>
	</tr>
	<tr class="pushTr">
		<th class="pushTh">Day 2</th>
		<td name="A" class="pushTd">70</td>
		<td name="S" class="pushTd">500</td>
		<td name="R" class="pushTd">150</td>
	</tr>
	<tr class="pushTr">
		<th class="pushTh">Totals</th>
		<td id="TA" class="pushTd"><strong></strong></td>
		<td id="TS" class="pushTd"><strong></strong></td>
		<td id="TR" class="pushTd"><strong></strong></td>
	</tr>
	<tr class="pushTr">
		<th class="pushTh">Avg Per Day</th>
		<td id="AA" class="pushTd"><i></i></td>
		<td id="AS" class="pushTd"><i></i></td>
		<td id="AR" class="pushTd"><i></i></td>
	</tr>
	<tr class="pushTr">
		<th class="pushTh">Hit Goal</th>
		<td id="GA" class="pushTd"><strong></strong></td>
		<td id="GS" class="pushTd"><strong></strong></td>
		<td id="GR" class="pushTd"><strong></strong></td>
	</tr>
	<tr class="pushTr">
		<th class="pushTh">Most in Single Day</th>
		<td id="HA" class="pushTd"><strong></strong></td>
		<td id="HS" class="pushTd"><strong></strong></td>
		<td id="HR" class="pushTd"><strong></strong></td>
	</tr>
</table>

<script>
	//Tim Segard
var dayS;
var totS;
var highS;
var goalS;
var j;
function totalS(){
	dayS = document.getElementsByName('S');
	totS = 0;
	goalS = 0;
	for (j=0; j<dayS.length; j++){
		if (parseInt(dayS[j].innerHTML)){
			totS += parseInt(dayS[j].innerHTML);
		}
		if (parseInt(dayS[j].innerHTML)>=<%= @competition.goal %>){
			goalS += 1;
			dayS[j].style.color = "green";
		}
		else {
			dayS[j].style.color = "red";
		}
	}
	document.getElementById("TS").innerHTML = totS;
	document.getElementById("AS").innerHTML = (totS/[j]);
	document.getElementById("GS").innerHTML = goalS;
	highS = Math.max.apply(null, [].map.call(dayS, c => parseInt(c.innerHTML )));
	document.getElementById("HS").innerHTML = highS;
}
totalS();

//Robert Rappole
var dayR;
var totR;
var highR;
var goalR;
var k;
function totalR(){
	dayR = document.getElementsByName('R');
	totR = 0;
	goalR = 0;
	for (k=0; k<dayR.length; k++){
		if (parseInt(dayR[k].innerHTML)){
			totR += parseInt(dayR[k].innerHTML);
		}
		if (parseInt(dayR[k].innerHTML)>=<%= @competition.goal %>){
			goalR += 1;
			dayR[k].style.color = "green";
		}
		else {
			dayR[k].style.color = "red";
		}
	}
	document.getElementById("TR").innerHTML = totR;
	document.getElementById("AR").innerHTML = (totR/[k]);
	document.getElementById("GR").innerHTML = goalR;
	highR = Math.max.apply(null, [].map.call(dayR, c => parseInt(c.innerHTML )));
	document.getElementById("HR").innerHTML = highR;
}
totalR();

//Tim Anderson
	// each days count
	var dayA;
	// total for all days
	var totA;
	// highest count in one day
	var highA;
	// if person hit goal for the day
	var goalA;
	// for for loop
	var i;
	function totalA(){
		dayA = document.getElementsByName('A');
		totA = 0;
		goalA = 0;
		for (i=0; i<dayA.length; i++){
			if (parseInt(dayA[i].innerHTML)){
				totA += parseInt(dayA[i].innerHTML);
			}
			// checks to see if dayA[i] is greater than or equal to dayS[i] + dayR[i]
			if (parseInt(dayA[i].innerHTML)>=(<%= @competition.goal %>)) {
				goalA += 1;
				// changes color of days where goal was met
				dayA[i].style.color = "green";
			}
			else {
				dayA[i].style.color = "red";
			}
		}
		// sets Total innerHTML to totA
		document.getElementById("TA").innerHTML = totA;
		// sets Average innerHTML to totA/[i]
		document.getElementById("AA").innerHTML = (totA/[i]);
		// sets Goal innerHTML to goalA
		document.getElementById("GA").innerHTML = goalA;
		// puts each day into an array, sorts them small to big, then reverses their order
		highA = Math.max.apply(null, [].map.call(dayA, c => parseInt(c.innerHTML )));
		// takes the largest number from the highA array, by taking first element
		document.getElementById("HA").innerHTML = highA;
	}
	// calls totalA() function
	totalA();

// Catagories
	// award medal function on Totals
	function checkTotal(){
		if (((totA > totS)&&(totA > totR)&&(totS > totR))){
			document.getElementById('TA').style.background = "gold";
			document.getElementById('TS').style.background = "silver";
			document.getElementById('TR').style.background = "brown";
		}
		else if (((totA > totS)&&(totA > totR)&&(totR > totS))){
			document.getElementById('TA').style.background = "gold";
			document.getElementById('TR').style.background = "silver";
			document.getElementById('TS').style.background = "brown";
		}
		else if (((totR > totA)&&(totR > totS)&&(totA > totS))){
			document.getElementById('TR').style.background = "gold";
			document.getElementById('TA').style.background = "silver";
			document.getElementById('TS').style.background = "brown";
		}
		else if (((totR > totA)&&(totR > totS)&&(totS > totA))){
			document.getElementById('TR').style.background = "gold";
			document.getElementById('TS').style.background = "silver";
			document.getElementById('TA').style.background = "brown";
		}
		else if (((totS > totA)&&(totS > totR)&&(totA > totR))){
			document.getElementById('TS').style.background = "gold";
			document.getElementById('TA').style.background = "silver";
			document.getElementById('TR').style.background = "brown";
		}
		else {
			document.getElementById('TS').style.background = "gold";
			document.getElementById('TR').style.background = "silver";
			document.getElementById('TA').style.background = "brown";
		}
	}
	// award medal function on Goals
	function checkGoal(){
		if (((goalA > goalS)&&(goalA > goalR)&&(goalS > goalR))){
			document.getElementById('GA').style.background = "gold";
			document.getElementById('GS').style.background = "silver";
			document.getElementById('GR').style.background = "brown";
		}
		else if (((goalA > goalS)&&(goalA > goalR)&&(goalR > goalS))){
			document.getElementById('GA').style.background = "gold";
			document.getElementById('GR').style.background = "silver";
			document.getElementById('GS').style.background = "brown";
		}
		else if (((goalR > goalA)&&(goalR > goalS)&&(goalA > goalS))){
			document.getElementById('GR').style.background = "gold";
			document.getElementById('GA').style.background = "silver";
			document.getElementById('GS').style.background = "brown";
		}
		else if (((goalR > goalA)&&(goalR > goalS)&&(goalS > goalA))){
			document.getElementById('GR').style.background = "gold";
			document.getElementById('GS').style.background = "silver";
			document.getElementById('GA').style.background = "brown";
		}
		else if (((goalS > goalA)&&(goalS > goalR)&&(goalA > goalR))){
			document.getElementById('GS').style.background = "gold";
			document.getElementById('GA').style.background = "silver";
			document.getElementById('GR').style.background = "brown";
		}
		else if (((goalS == goalA)&&(goalS == goalR))){
			document.getElementById('GS').style.background = "gold";
			document.getElementById('GA').style.background = "gold";
			document.getElementById('GR').style.background = "gold";
		}
		else if (((goalS == goalA)&&(goalS > goalR))){
			document.getElementById('GS').style.background = "gold";
			document.getElementById('GA').style.background = "gold";
			document.getElementById('GR').style.background = "brown";
		}
		else if (((goalS > goalA)&&(goalS == goalR))){
			document.getElementById('GS').style.background = "gold";
			document.getElementById('GR').style.background = "gold";
			document.getElementById('GA').style.background = "brown";
		}
		else if (((goalS < goalA)&&(goalA == goalR))){
			document.getElementById('GR').style.background = "gold";
			document.getElementById('GA').style.background = "gold";
			document.getElementById('GS').style.background = "brown";
		}
		else if (((goalS < goalA)&&(goalS == goalR))){
			document.getElementById('GS').style.background = "silver";
			document.getElementById('GA').style.background = "gold";
			document.getElementById('GR').style.background = "silver";
		}
		else if (((goalS > goalA)&&(goalA == goalR))){
			document.getElementById('GS').style.background = "gold";
			document.getElementById('GR').style.background = "silver";
			document.getElementById('GA').style.background = "silver";
		}
		else if (((goalS < goalR)&&(goalA == goalS))){
			document.getElementById('GR').style.background = "gold";
			document.getElementById('GA').style.background = "silver";
			document.getElementById('GS').style.background = "silver";
		}
		else {
			document.getElementById('GS').style.background = "gold";
			document.getElementById('GR').style.background = "silver";
			document.getElementById('GA').style.background = "brown";
		}
	}
	// award medal function on Most in Single Day
	function checkHigh(){
		if (((highA > highS)&&(highA > highR)&&(highS > highR))){
			document.getElementById('HA').style.background = "gold";
			document.getElementById('HS').style.background = "silver";
			document.getElementById('HR').style.background = "brown";
		}
		else if (((highA > highS)&&(highA > highR)&&(highR > highS))){
			document.getElementById('HA').style.background = "gold";
			document.getElementById('HR').style.background = "silver";
			document.getElementById('HS').style.background = "brown";
		}
		else if (((highR > highA)&&(highR > highS)&&(highA > highS))){
			document.getElementById('HR').style.background = "gold";
			document.getElementById('HA').style.background = "silver";
			document.getElementById('HS').style.background = "brown";
		}
		else if (((highR > highA)&&(highR > highS)&&(highS > highA))){
			document.getElementById('HR').style.background = "gold";
			document.getElementById('HS').style.background = "silver";
			document.getElementById('HA').style.background = "brown";
		}
		else if (((highS > highA)&&(highS > highR)&&(highA > highR))){
			document.getElementById('HS').style.background = "gold";
			document.getElementById('HA').style.background = "silver";
			document.getElementById('HR').style.background = "brown";
		}
		else {
			document.getElementById('HS').style.background = "gold";
			document.getElementById('HR').style.background = "silver";
			document.getElementById('HA').style.background = "brown";
		}
	}
	// to goal or not function on Averages
	function checkAverageA(){
		if (totA/[i] >= <%= @competition.goal %>){
			document.getElementById('AA').style.color = "green";
		}
		else {
			document.getElementById('AA').style.color = "red";
		}
	}
	function checkAverageS(){
		if (totS/[j] >= <%= @competition.goal %>){
			document.getElementById('AS').style.color = "green";
		}
		else {
			document.getElementById('AS').style.color = "red";
		}
	}
	function checkAverageR(){
		if (totR/[k] >= <%= @competition.goal %>){
			document.getElementById('AR').style.color = "green";
		}
		else {
			document.getElementById('AR').style.color = "red";
		}
	}
	// calls check() function on Totals to award Gold, Silver or Bronze
	checkTotal();
	// calls check() function on Goals to award Gold, Silver or Bronze
	checkGoal();
	// calls check() function on Most in Single Day to award Gold, Silver or Bronze
	checkHigh();
	// calls check() function on Averages to give green or red
	checkAverageA();
	checkAverageS();
	checkAverageR();

</script>